*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* ------------------ tekst dekoration ------------------*/

h1{
    color: #2E1B0C;
    font-family: "Merriweather Sans", sans-serif;
}

h2{
    font-family: "Open Sans", sans-serif;
}

h3{
    font-family: "Roboto", sans-serif;
}

.grid-tekst h3{
    font-weight: bold;
}

.div-tekst h3{
    font-weight: bold;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    word-spacing: 0.12em;
    margin-bottom: 1.5rem;
}

address{
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 0.4rem;
    font-style: normal;
}

/* ------------------ Header ------------------*/

.logo-banner {
    position: absolute;
    top: 10px;
    left:  10px;
    width: 80px;
    height: auto;
}

.logo-banner:hover{
    transform: scale(1.05);
}

/* -------------------  Main - forside -------------------*/

.main-sec{
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #EDE3D1;
}

.grid-overskrift{
    text-align: center;
    margin-bottom: none;
    background-color: #ede3d1;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.grid-tekst{
    background-color: #DBCCBE;
    border-color: #000000;
    border-radius: 8px;
    padding: 2rem;
    border: 1px solid #000000;
}

/* -------------------  Main - DIY -------------------*/

.DIY-main{
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #EDE3D1;
}

.DIY-overskrift{
    text-align: center;
    margin-bottom: none;
    background-color: #ede3d1;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

img{
    border-radius: 8px;
}

.div-tekst{
    background-color: #DBCCBE;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* -------------------  Main - Kontakt -------------------*/

.main-sec-kon{
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #EDE3D1;
}

.kontakt-kontakt{
    text-align: center;
    margin-bottom: none;
    background-color: #ede3d1;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.kontakt-tekst{
    background-color: #DBCCBE;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    margin-top: 0.7rem;
    border: 1px solid #000000;
}

.kontaktform {
  border-radius: 5px;
  background-color: #DBCCBE;
  padding: 1.3em;
  width: 50%;
  margin: 0 auto;
}

input[type=text], input[type=email], input[type=tel], select, textarea{
    background-color: #DBCCBE;
	width: 100%;
	padding: 1em;
	border: 1px solid rgb(10, 10, 9);
	border-radius: 6px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

select, input[type=checkbox], input[type=radio], input[type=submit]{
	cursor: pointer;
}

fieldset{
	border-color: rgb(81, 71, 38);
	border-style:  double;
	margin-bottom: 0.8em;
}

input[type=checkbox]{
	margin: 0.8em 0;
}

input[type=submit]{
	background-color: #b6a284;
	color: black;
	padding: 0.8em 1.5em;
	border: 1px solid black;
	border-radius: 6px;
	width: 100%;
	font-size: 18px;
}

input[type=submit]:hover{
	background-color: #c39066; 
}

::placeholder{
	color: black
}

.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* -------------------  Footer -------------------*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    background-color: #DBCCBE;
    padding: 1rem;
}

.logo-footer {
    bottom: 10px;
    left:  10px;
    width: 80px;
    height: auto;
}

.logo-footer:hover{
    transform: scale(1.05);
}

.adresse{
    color: #000000;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 0.6rem;
    text-decoration: none;
}

.adresse:hover{
    transform: scale(1.05);
}

.facebook, .instagram, .whatsapp{
    color: rgb(74, 73, 74);
}

.facebook:hover, .instagram:hover, .whatsapp:hover{
    transform: scale(1.2);
}


/* ----------------------------------- MOBIL og TABLET -------------------------------------- */

@media screen and (max-width: 768px){

/*------------ header -----------*/

.forside-banner-mobil{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0;
}

.lav-nyt{
    position: absolute;
    top: 40%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #3f2a1a;
    font-size: 3rem;
    text-align: center;
}

.lav-nyt-diy{
    position: absolute;
    top: 43%;
    left: 53%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #3f2a1a;
    font-size: 3rem;
    text-align: center;
}

.lav-nyt-kontakt{
    position: absolute;
    top: 48%;
    left: 52%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #3f2a1a;
    font-size: 3rem;
    text-align: center;
}

.forside-banner{
    display: none;
}

header nav{
    display: none;
}

nav ul {
    list-style-type: none;
    padding-top: 0.5rem;
    padding-left: 0.9rem;
}

nav li a{
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
}

nav li a:hover{
    text-decoration: underline;
    border-radius: 4px;
    background-color: rgb(145, 119, 80, 0.5)
}

.show{
    display: block;
    position: absolute;
    top: 49px;
    left: 69%;
    background-color:  #DBCCBE;
    width: 29%;
    min-height: 14%;
    border-radius: 8px;
}

button#bars{
    background-color: #DBCCBE;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 3%;
    left: 85%;
}

/* --------- forside ------------ */

.pil-hen, .pil-ned{
    display: none;
}

.tek1, .tek2, .tek3{
    background-color: #DBCCBE;
    border: 2px #000000;
    border-radius: 10px;
    padding: 1rem;
}

.hoo3, .tek3{
    order: +2;
}

.hoo1{
    margin-top: 1rem;
}

.hoo1, .hoo2, .hoo3{
    border: 2px #000000;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.tek1, .hoo1, .tek2, .hoo2{
    grid-column: 3;
    border-radius: 10px;
    border: 1px solid #000000;
}

.tek1{
    margin-bottom: 0.6rem;
}

.tek3, .hoo3{
    border-radius: 10px;
    border: 1px solid #000000;
}

.DIY-sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* --------- Main DIY -----------*/

.DIY-sec-1{
    border-radius: 8px;
    margin-bottom: 0.5rem;
    gap: 0.4rem;
}

.DIY-sec-2, .DIY-sec-3, .DIY-sec-4{
    margin-top: 0.5rem;
    border-radius: 8px;
    margin-bottom: 1.3rem;
}

.bi1, .bi2, .bi31, .bi6{
    width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.bi32, .bi33, .bi41, .bi42, .bi51, .bi52{
    width: 49%;
    height: auto;
    border: 1px solid #000000;
}

/* --------- footer-----------*/

.ikoner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 2rem;
}


}

/* ---------------------------------------- DESKTOP ------------------------------------------- */

@media screen and (min-width: 769px){

/* ---------- header ----------- */

#bars{
    display: none;
}

.forside-banner-mobil{
    display: none;
}

.lav-nyt{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #3f2a1a;
    font-size: 4rem;
    text-align: center;
}

.lav-nyt-diy{
    position: absolute;
    top: 48%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #3f2a1a;
    font-size: 4rem;
    text-align: center;
}

.lav-nyt-kontakt{
    position: absolute;
    top: 55%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #3f2a1a;
    font-size: 4rem;
    text-align: center;
}

nav{
    position: absolute;
    top: 1.25rem;
    right: 2.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 15px 60px;
    background-color: #EDE4DB;
    border-radius: 10px;
    gap: 150px;
}

nav li a{
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
}

nav li a:hover{
    text-decoration: underline;
    border-radius: 4px;
    background-color: rgb(145, 119, 80, 0.5)
}

.ydre-box{
    background-color: rgb(145, 119, 80, 0.7);
    padding: 10px 25px;
    border-radius: 10px;
}

.forside-banner{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0;
}

/* ------------ Main -forside ----------*/

.main-sec{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.tek1, .tek2, .tek3{
    background-color: #DBCCBE;
    border: 2px #000000;
    border-radius: 10px;
    padding: 1rem;
}

.hoo1, .hoo2, .hoo3{
    border: 2px #000000;
    width: 25rem;
    height: auto;
    border-radius: 10px;
}

.tek1, .hoo1, .tek2, .hoo2{
    grid-column: 3;
    border-radius: 10px;
    border: 1px solid #000000;
}

.tek1{
    margin-bottom: 0.6rem;
}

.tek3, .hoo3{
    grid-column: 4;
    border-radius: 10px;
    border: 1px solid #000000;
}

.pil-ned, .pil-hen{
    width: 15rem;
    height: auto;
}

/* ---------- Main -DIY ------------- */

.DIY-main{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1.5fr 2fr 2fr 2fr;
}

main{
    border-bottom: 4px white solid;
}

.DIY-sec-1, .DIY-sec-2, .DIY-sec-3, .DIY-sec-4{
    background-color: rgb(145, 119, 80, 0.6);
    padding: 1rem;
    border-radius: 8px;
}

.bi1, .bi2, .bi31, .bi6{
    width: 26rem;
    height: auto;
    border: 1px solid #000000;
}

.bi32, .bi33, .bi41, .bi42, .bi51, .bi52{
    width: 12.85rem;
    height: auto;
    border: 1px solid #000000;
}

/*----------- Main -kontakt ---------- */

.main-sec-kon{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 2fr;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: #EDE3D1;
}

/* ------------- footer ------------- */

.ikoner{
    display: flex;
    flex-direction: row;
    font-size: 2rem; 
}

}
